<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Beezel -->
      <package
            uri="http://beezel.org/project"
            class="org.beezel.core.model.project.project.ProjectPackage"
            genModel="model/Beezel.genmodel"/>
   </extension>

</plugin>
